/* App.css */
.container {
  padding: 20px;
}

.menu {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.menu-item {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.active {
  font-weight: bold;
}

.content {
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.login-button {
  margin-right: 10px;
}

.page-content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
}


/* Adicione o estilo personalizado para o botão de login */
.custom-login-button {
  background-color: transparent;
  color: #007bff; /* Cor do texto azul para o botão de login */
  border: none;
  font-size: 14px; /* Tamanho de fonte menor */
  padding: 0.5rem 1rem; /* Espaçamento menor ao redor do texto */
}

/* Estilo quando o botão é hover (opcion al) */
.custom-login-button:hover {
  background-color: transparent;
  color: #0056b3; /* Cor do texto alterada no hover */
}

/* AppResponsive.css */

/* Estilos para telas menores */
@media (max-width: 767px) {
  .menu-items {
    flex-direction: column; /* Altera a direção dos itens do menu para coluna */
    text-align: center; /* Centraliza o texto do menu */
    margin-top: 10px; /* Adiciona um espaçamento superior menor */
  }

  .menu-item {
    margin-bottom: 10px; /* Adiciona um espaçamento inferior menor entre os itens do menu */
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.menu-items {
  display: flex;
  justify-content: center;
}

.menu-item {
  margin-right: 20px;
  cursor: pointer;
}

.menu-item.active {
  border-bottom: 2px solid #007bff; /* Adicione uma linha de baixo para o item ativo */
  padding-bottom: 5px; /* Espaçamento inferior para o item ativo */
}
